{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "overrides": [
      {
        "files": ["*.yml", "*.json", ".prettierrc", ".eslintrc"],
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }